.text
  font-family: GothamPro
  line-height: 100%
  color: inherit

  &_size-20
    font-size: 20px

  &_size-16
    font-size: 16px

  &_size-14
    font-size: 14px

  &_weight-700
    font-weight: 700

  &_weight-500
    font-weight: 500

  &_weight-400
    font-weight: 400

  &_no-wrap
    text-wrap: nowrap

  &_black
    color: var(--black)

  &_gray-300
    color: var(--gray-300)

  &_red
    color: var(--red)
